/****SMALL SIZE DEVICE*****************
If screen is smaller than 600px*/
@media screen and (max-width: 600px) {
  .menunav a:not(:first-child) {display: none;}
  .menunav a.hamburger {
    float: right;
    display: block;
  }
  .footer {
    width: 100%;
  }
}

/*****SMALL SIZE DEVICE ****************
If screen is smaller than 600px

 The "responsive" class is added to the topnav with JavaScript
when the user clicks on the icon.
This class makes the topnav look good on small screens
(display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .menunav.responsive {position: relative;}
  .menunav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menunav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/******MEDIUM SIZE DEVICE************
If screen is greater than 600px and less than 960*/
@media screen and (min-width: 600px) and (max-width: 1080px){
  .topbar{
    width: 100%;
    margin: auto;
  }

  .sneakerService {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .content, .about, .footer {
    overflow: hidden;
  }
  .about, .footer{
    width: 100%;
  }
  .content {
    width: 80%;
  }
}

/******LARGE SIZE DEVICE **********
 If screen is greater than 1080 px */

@media screen and (min-width: 1080px) {
  .topbar{
    width: 960px;
    margin: auto;
  }

  .headerImage{
    width: 960px;
    margin: auto;
  }

  .about, .socialMedia{
    float: right;
  }
  .about {
    width: 75%;
  }
  .socialMedia{
    width: 25%;
  }
  .sneakerService{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  .content, .footer {
    overflow: hidden;
  }

  .content {
    width: 80%;
  }
  .footer {
    width: 100%;
  }
}
